.body-page {
  position: relative;
  background-image: url("../img/3670437.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.body-page_black {
  overflow: hidden;
  animation: back 1s inherit;
}

.body-page_black::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  animation: back 1s forwards;
  opacity: 0;
}
@keyframes back {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-page {
  position: relative;
}

.nav-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 2;
}

.logo__title {
  display: flex;
  align-items: center;
  margin-left: 50px;
  transition: 0.2s;
}

.logo__title-link {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.logo__icon {
  width: 30px;
  height: auto;
  fill: white;
  transition: fill 0.3s ease;
  transition: 0.2s;
  margin-right: 5px;
}

.logo__title:hover .logo__icon {
  fill: #c92f6d;
}

.nav-bar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-bar__item {
  margin: 30px;
  transition: 0.2s;
  z-index: 0;
}

.nav-bar__link {
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
}

.active {
  color: #c92f6d;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.intro__desc {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 30px;
}

.intro_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro__title {
  color: white;
  background-color: #c92f6d;
  margin-top: 200px;
  font-size: 2em;
  padding: 15px;
  border-radius: 30px;
}

.intro__text {
  position: relative;
  font-size: 1em;
  color: white;
  background-color: #c92f6d;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 20px;
  max-width: 500px;
}
.intro__text::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 47%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
  z-index: 2;
}

.intro__img {
  border: white solid 15px;
  border-radius: 10px;
  margin-top: 200px;
  margin-right: 30px;
  animation: anim 6s ease-in-out infinite;
}
@keyframes anim {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}

.container {
  background-color: #f4f4f4;
}

.main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 130px auto 0px auto;
  padding: 20px;
  color: #333;
}

.feedback {
  position: relative;
}

.feedback__btn {
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: -55px;
  transform: rotate(-90deg);
  color: #c92f6d;
  font-size: 1em;
  font-weight: 700;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px 15px 40px 15px;
  border: none;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.feedback__btn:hover {
  transform: rotate(-90deg) translateY(-10px);
}

.feedback__form_box {
  display: none;
}
.feedback__form_box.active {
  display: flex;
}

.feedback__form {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  max-width: 800px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 20px;
}

.feedback__disable {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 11;
}

.feedback__disable::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
}
.feedback__disable::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  border-radius: 10px;
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}

.feedback__form::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 26%;
  background-color: #c92f6d;
  border-top-right-radius: 20px;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.feedback__form::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 20%;
  background-color: #87224a;
  border-top-right-radius: 20px;
  z-index: 11;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.feedback__img-box {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  z-index: 12;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.star {
  color: red;
  margin: 0;
  position: relative;
  left: -10px;
  top: 41px;
}

.feedback__title {
  font-size: 2.2em;
  margin: 15px 0px 15px 0px;
}

.feedback__required {
  margin-left: 10px;
}

.feedback__input {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(186, 186, 186);
  padding: 7px 80px 7px 7px;
  margin: 10px;
}
.feedback__input:focus {
  border: 1px solid #c92f6d;
  outline: none;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.feedback__opinion {
  margin-bottom: 20px;
}

.feedback__opinion-question {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 10px;
}
.feedback__radio {
  display: none;
}

.feedback__opinion .feedback__label {
  font-size: 0.8em;
  padding: 5px 15px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

#negative:checked + .feedback__label {
  border: 2px solid #2c3e50;
}

#positive.feedback__radio:checked + .feedback__label {
  border: 2px solid #732eaf;
}
.feedback__radio:checked + .feedback__label {
  border: 2px solid #c92f6d;
}

.feedback__subscribe {
  position: relative;
  margin-bottom: 20px;
}

.feedback__subscribe .feedback__checkbox {
  display: none;
}

.feedback__subscribe .feedback__label {
  font-size: 0.8em;
  padding: 5px 10px;
  margin: 10px;
  background-color: #fff;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
  box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.feedback__subscribe .feedback__checkbox:checked + .feedback__label {
  background-color: #c92f6d;
  color: #fff;
  border-color: white;
}

.feedback__subscribe .feedback__checkbox:checked + .feedback__label:before {
  content: "✓";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  color: #c92f6d;
  font-size: 20px;
}

.feedback__label_comment {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
  font-weight: 700;
}

.feedback__textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  border: 2px solid #641836;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.feedback__textarea:focus {
  outline: none;
  border-color: #c92f6d;
}

.feedback__button_box {
  display: flex;
  margin-top: 20px;
}

.feedback__button {
  padding: 10px 20px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #c92f6d;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  font-size: 16px;
}

.feedback__button--submit {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.feedback__button--reset {
  background-color: #999;
}

.feedback__button:hover {
  background-color: #87224a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feedback__button:active {
  background-color: #641836;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

.benefits-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #c92f6d;
}

.benefits-table__caption {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.benefits-table__header-cell {
  background-color: #641836;
  color: #ffffff;
  padding: 10px 15px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid white;
  font-size: 1em;
}

.benefits-table__cell {
  color: white;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e6ed;
}

.benefits-table__row:hover {
  background-color: #893f94;
}

.salary-benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.salary-benefit__title {
  font-size: 2em;
  color: white;
}

.salary-benefits__list {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding-left: 20px;
  list-style-type: decimal;
}

.salary-benefits__item {
  font-size: 1em;
  color: white;
  padding: 8px 0;
  margin: 30px 0px;
}

.salary-benefits__item:last-child {
  border-bottom: none;
}

.team-description,
.mission-vision {
  background-color: #c92f6d;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 10px;
}

.team-description:hover,
.mission-vision:hover {
  transform: translateY(-5px);
}

.team-description__title,
.mission-vision__title {
  font-size: 2em;
  color: white;
  border-bottom: 2px solid #c92f6d;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.team-description__text,
.mission-vision__text {
  font-size: 1em;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.team-description__text::before,
.mission-vision__text::before {
  content: "»";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: #c92f6d;
}

.course-highlights__title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #c92f6d;
  padding-bottom: 10px;
}

.course-highlights__list {
  list-style-type: none;
  padding: 0;
}

.course-highlights__item {
  text-decoration: underline;
  font-size: 1em;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.testimonials__title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #c92f6d;
  padding-bottom: 10px;
}

.testimonials__quote {
  font-size: 1em;
  font-style: italic;
  background-color: #c92f6d;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.testimonials__quote cite {
  display: block;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  text-decoration: underline;
}

.footer-page {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-page_fix {
  position: fixed;
  bottom: 0px;
}

.footer-page__title {
  text-align: center;
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 20px 0px;
}

.user-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.user-feedback__title {
  color: white;
  font-size: 2em;
}

.user-feedback__list {
  overflow: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

.user-feedback__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #c92f6d;
  width: 25%;
  padding-left: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  transition: 0.2s;
}

.user-feedback__name {
  font-size: 1em;
  color: white;
  margin-bottom: 0;
  transition: 0.2s;
}

.user-feedback__comment {
  font-size: 0.9em;
  text-transform: capitalize;
  color: white;
  transition: 0.2s;
}

.comments {
  width: 100%;
  height: max-content;
  max-width: 1200px;
  margin: 20px auto 130px auto;
}

.commnet__item {
  background-color: #972351;
  width: 20%;
  margin: 10px;
  padding: 10px;
  transition: 0.2s;
  border-radius: 5px;
}

.commnets_block-title{
  width: 100%;
}

.commnet__item:hover {
  background-color: #e7367d;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.commnets-block {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px;
  background-color: #c92f6d;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 10px auto 0px auto;
  background-color: #c92f6d;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-comments__item {
  font-size: 1em;
  background-color: white;
  padding: 5px;
  border: none;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: 0.2s;
}

.nothing-comments {
  background-color: #7d1d43;
  border-radius: 4px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 20px auto 130px auto;
}

.nothing-comments__item {
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

.btn-comments__item:hover {
  transform: scale(1.1);
}

.comment__title {
  font-size: 0.7em;
}

.comment__author {
  font-size: 1em;
}

.new-comment {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.new-comment__title{
  font-size: 1.5em;
}

.new-comment__author, .new-comment__text{
  margin: 0;
  margin-bottom: 20px;
  min-width: 170px;
  padding: 5px;
  outline: none;
  transition: 0.2s;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid black;
}

.new-comment__author:focus, .new-comment__text:focus{
  border: 2px solid #c92f6d;
}

.new-comment__btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.new-comment__btn{
  background-color: #c92f6d;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.article_list {
  max-width: 1200px;
  width: 100%;
  overflow: auto;
  height: 70vh;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 130px auto 0px auto;
}

.article_item {
  background-color: white;
  padding: 10px;
  margin: 10px;
  color: #c92f6d;
}

.article_title {
  font-size: 1.5em;
}
.article_link {
  text-decoration: none;
  color: #c92f6d;
  transition: 0.2s;
  cursor: pointer;
}
.article_link:hover {
  color: #91244f;
}

.own-article {
  width: 100%;
  height: max-content;
  max-width: 1200px;
  margin: 150px auto 0px auto;
}

.own-article__item {
  padding: 20px;
  padding-top: 70px;
  background-color: #c92f6d;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.own-article__title,
.own-article__author,
.own-article__content,
.own-article__tags {
  color: #c92f6d;
  background-color: white;
  padding: 5px;
  margin: 10px 0;
  word-break: break-word;
}

.own-article__title {
  font-size: 2em;
}

.own-article__author,
.own-article__content,
.own-article__tags {
  font-size: 1em;
}

.own-article__mg {
  width: 33%;
  height: auto;
  display: block;
  color: white;
}

.block {
  display: flex;
  justify-content: center;
  align-items: start;
}

.article-form,
.new-article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 50px;
  width: 70%;
  max-width: 1200px;
  background-color: #c92f6d;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 60vh;
}

.article-form > input,
.new-article > input {
  margin-bottom: 20px;
  padding: 10px 0px 10px 5px;
}

.article-form__own-text {
  font-size: 2em;
  color: white;
}

.article-form__submit,
.article-form__reset {
  cursor: pointer;
  background-color: #ffffff;
  color: #c92f6d;
  font-size: 1em;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin-right: 50px;
}

.cancel-btn__form {
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c92f6d;
  color: white;
  font-size: 1.5em;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-article {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 12;
  background-color: white;
}

.btn-article_item {
  cursor: pointer;
  font-size: 1em;
  background-color: #c92f6d;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  border: 0.5px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.delete-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}

.delete-alert__btn {
  background-color: #c92f6d;
  color: white;
  border: none;
  padding: 5px;
  margin: 5px;
}

.box {
  position: relative;
  height: max-content;
}

.btn-article_item:hover {
  transform: scale(1.1);
}

.btn-section {
  max-width: 1200px;
  width: 100%;
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.btn-nav {
  color: white;
  background-color: #c92f6d;
  font-size: 1.3em;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  transition: 0.2s;
}
.btn-nav:hover {
  color: #c92f6d;
  background-color: white;
}

.btn-nav:disabled {
  opacity: 0.5;
}
.btn-nav:disabled:hover {
  opacity: 0.5;
}

.article_author .article_error {
  font-size: 1em;
}

.user-feedback__item:hover {
  background-color: white;
}

.user-feedback__item:hover .user-feedback__comment {
  color: #c92f6d;
}
.user-feedback__item:hover .user-feedback__name {
  color: #c92f6d;
}

.user-feedback__date {
  color: white;
  font-size: 0.8em;
  transition: 0.2s;
}
.user-feedback__item:hover .user-feedback__date {
  color: #c92f6d;
}

@media (max-width: 768px) {
  .body-page {
    font-size: 10px;
  }
  .nav-bar__list {
    position: absolute;
    flex-direction: column;
    right: 0px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
  }

  .nav-bar__item {
    transition: 0.2s;
    margin: 20px;
    text-align: center;
  }

  .nav-bar__item:hover .nav-bar__link {
    color: #c92f6d;
  }

  .nav-bar:hover .nav-bar__list {
    opacity: 1;
  }

  .intro {
    flex-direction: column;
  }

  .main-page {
    flex-direction: column;
  }

  .intro__img {
    margin-top: 20px;
    margin-right: 0px;
  }

  .feedback__img-box {
    display: none;
  }

  .feedback__form {
    height: 72vh;
  }

  .feedback__btn {
    right: -46px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .body-page {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .nav-bar__item:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1025px) {
  .body-page {
    font-size: 18px;
  }
}
